Home Page

<%=form_tag results_path :method => :get do %>
<%= text_field_tag :from%>
<%= text_field_tag :to%>
<%= hidden_field_tag :loc%>
<%= hidden_field_tag :slat%>
<%= hidden_field_tag :slon%>
<%= submit_tag "Submit", id: "sub"%>
<%end%>


<!-- <div id="tooltip-container"></div> -->
<!-- <div id="canvas-svg"></div> -->

<script>
	$(document).ready(function(){
	$.ajax(
		"http://ip-api.com/json",
		{
			method  : "GET",
			success : function(data,textStatus,garbage){
				$("#loc").val(data.regionName);
				$("#slat").val(data.lat)
				$("#slon").val(data.lon)			
			}
		}
	);
	});
</script>