<div id="fullpage">
	<div class="section section-1">

		<%= form_tag results_path :method => :get do %>
			<%= text_field_tag :from %>
			<%= text_field_tag :to %>

			<%= hidden_field_tag :loc %>
			<%= hidden_field_tag :slat %>
			<%= hidden_field_tag :slon %>
			
			<%= submit_tag "Submit", id: "sub" %>
		<%end%>

	</div>

	<div class="section section-2">
		<div id="tooltip-container"></div>
		<div id="canvas-svg"></div>

		<button id="uberMap">Uber</button>
		<button id="lyftMap">Lyft</button>
		<button id="countMap">Count</button>
	</div>

	<div class="section section-3">
		About
	</div>
	
</div>



<link rel="stylesheet" type="text/css" href="mapstyle.css">
<script src="/mapscript.js"></script>

<script>
$(document).ready(function() {
	renderMap('byCount');
	$("#uberMap").click(function() {
		renderMap('byUber');
	});
	$("#lyftMap").click(function() {
		renderMap('byLyft');
	});
	$("#countMap").click(function() {
		renderMap('byCount');
	});

	$.ajax(
		"http://ip-api.com/json",
		{
			method : "GET",
			success : function(data,textStatus,garbage) {
				$("#loc").val(data.regionName);
				$("#slat").val(data.lat);
				$("#slon").val(data.lon);	
				var latlng = String(data.lat) + "," + String(data.lon);
				var data = {latlng};		
				$.ajax(
					"/location",
					{
						method : "GET",
						data : data,
						success : function(data,textStatus,garbage) {
							$("#from").val(data.results[0].formatted_address);	
							$("#from").data('default', data.results[0].formatted_address);
						}
					}
				);
			}
		}
	);

});
</script>