Home Page

<%=form_tag results_path :method => :get do %>
<%= text_field_tag :from%>
<%= text_field_tag :to%>
<%= hidden_field_tag :loc%>
<%= hidden_field_tag :slat%>
<%= hidden_field_tag :slon%>
<%= submit_tag "Submit", id: "sub"%>
<%end%>


<!-- <div id="tooltip-container"></div> -->
<!-- <div id="canvas-svg"></div> -->

<script>
	$(document).ready(function(){
	$.ajax(
		"http://ip-api.com/json",
		{
			method  : "GET",
			success : function(data,textStatus,garbage){
				$("#loc").val(data.regionName);
				$("#slat").val(data.lat)
				$("#slon").val(data.lon)	
				var latlng = String(data.lat) +","+ String(data.lon);
				var data = {latlng}
				console.log(latlng)		
	$.ajax(
		"/location",
		{
			method  : "GET",
			data    : data,
			success : function(data,textStatus,garbage){
				$("#from").val(data.results[0].formatted_address);	
				$("#from").data('default', data.results[0].formatted_address)	
			}
		}
	);

			}
		}
	);

	
	});
</script>