<div id="navigation">
	<%= render 'partials/nav' %>
	<div id="user">
		<% if @current_user %>
			<a href="/signout"><li class="btn btn-lg btn-default">Sign Out</li></a>
		<% else %>
			<a href="/users/new"><li class="btn btn-lg btn-default">Sign Up</li></a>
			<a href="/signin"><li class="btn btn-lg btn-default">Sign In</li></a>
		<% end %>
	</div>
</div>

<div id="fullpage-one">
	<div class="section section-1">
		<%= render 'partials/flash' %>
		<p class="animated bounceInLeft"><span class="first">Fare</span>
		<span class="second">Start</span></p>
		<a href="#search" class="bottom-a"><i class="fa fa-sort-desc fa-4x animated pulse infinite bottom-i"></i></a>
	</div>

	<div class="section section-2">
		<p class="title">Search</p>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
			<p class="description">Get fare quotes from Uber and Lyft, so you get the cheapest price every time.</p>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
				<%= form_tag results_path :method => :get do %>
					<%= text_field_tag :from, "", class: "form-control input-lg", placeholder: "Where are you getting picked up?" %><br>
					<%= text_field_tag :to, "", class: "form-control input-lg", placeholder: "Where are you getting dropped off?" %><br>
<% if @current_user %>
	<% if @addresses %>
		<select id="savedFrom">
		<option value="">Saved Addresses</option>
		<% @addresses.each do |address| %>
		<option value="<%= address.address %>"><%= address.address %></option>
		<% end %>
		</select>
	<% end %>
<% end %>
<% if @current_user %>
	<% if @addresses %>
		<select id="savedTo">
		<option value="">Saved Addresses</option>
		<% @addresses.each do |address| %>
		<option value="<%= address.address %>"><%= address.address %></option>
		<% end %>
		</select>
	<% end %>
<% end %>
					<%= hidden_field_tag :loc %>
					<%= hidden_field_tag :slat %>
					<%= hidden_field_tag :slon %>
					
					<%= submit_tag "Find Fare", id: "sub", class: "btn btn-lg btn-default" %>
				<%end%>
			</div>
		</div>

		<a href="#data" class="bottom-a"><i class="fa fa-sort-desc fa-4x animated pulse infinite bottom-i"></i></a>
	</div>

	<div class="section section-3">
		<p>
			Sort by:
			<button id="countMap" class="btn btn-lg btn-default">Count</button>
			<button id="uberMap" class="btn btn-lg btn-default">Uber</button>
			<button id="lyftMap" class="btn btn-lg btn-default">Lyft</button>
		</p>
		<div id="tooltip-container"></div>
		<div id="canvas-svg"></div>

		<a href="#about" class="bottom-a"><i class="fa fa-sort-desc fa-4x animated pulse infinite bottom-i"></i></a>
	</div>

	<div class="section section-4">
		<p class="title">About</p>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
			<p class="description">Fare <span class="last">Start</span> is a full stack web application built using Ruby on Rails for General Assembly Seattle.</p>
		</div>
		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<%= image_tag("todd.jpg", class: "img-rounded img-responsive center-block") %>
				<div class="caption">
					<p class="name">Todd Best</p>
					<a href="https://www.linkedin.com/in/toddbest2004" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a><a href="https://github.com/toddbest2004" target="_blank"><i class="fa fa-github-alt fa-2x"></i></a>
				</div>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<%= image_tag("andrew.jpg", class: "img-rounded img-responsive center-block") %>
				<p class="name">Andrew Mestas</p>
				<a href="https://www.linkedin.com/in/andrewmestas" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a><a href="https://github.com/andrew-mestas" target="_blank"><i class="fa fa-github-alt fa-2x"></i></a>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<%= image_tag("thomas.jpg", class: "img-rounded img-responsive center-block") %>
				<div class="caption">
					<p class="name">Thomas Vaeth</p>
					<a href="https://www.linkedin.com/in/thomasvaeth" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a><a href="https://github.com/thomasvaeth" target="_blank"><i class="fa fa-github-alt fa-2x"></i></a>
				</div>
			</div>
		</div>
	</div>
	
</div>

<script type="text/javascript" src="/googlesearch.js"></script>
<script type="text/javascript" src="/fullpage-home.js"></script>
<script src="/mapscript.js"></script>
<script src="index.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_OcPqd4-0Dsx7LK_3wHvVzvKcJRWSwjQ&libraries=places"></script>
