Results page
<%=@ride_data[4]%>

<div id="fromAddress">
	FROM <span class="address"><%=@ride_data[2]["results"][0]["formatted_address"]%></span>
	<% if @current_user %>
	  <button id="saveFrom">Save to address</button>
	<%end%>
</div>

<div id="toAddress">
	TO <span class="address"><%=@ride_data[1][
		"results"][0]["formatted_address"]%></span>
	<% if @current_user %>
	  <button id="saveTo">Save from address</button>
	<%end%>
</div>

<ul>
<%length = (@ride_data[0].length-1)%>
	<% for i in 0..length %>
	<%if @ride_data[0][i] != nil%>
		<li><%=@ride_data[0][i].duration%></li>
		<li id="<%=@ride_data[0][i].display_name.tr(" ", "")%>"><%=@ride_data[0][i].estimate%> 
		   <% if @ride_data[0][i].surge_multiplier != nil && @ride_data[0][i].surge_multiplier > 1%>
		    SURGE 
	       <%end%> 
		</li>
		<li><%=@ride_data[0][i].distance%></li>
		<li><%=@ride_data[0][i].display_name%></li>
		<hr>
	<%end%>
	<%end%>
</ul>

<button id="minus">-</button>
<input id="surge" type="number" min="1" max="20" step=".25" value="1"></input>
<button id="plus">+</button>

<div id="map"></div>



<button id="clickable1" class="android apple" hidden><a href="<%=@uberString%>">UBER</a></button>
<button class="android" hidden><a href="https://play.google.com/store/apps/details?id=com.ubercab&hl=en">UBER ANDROID
</a></button>
<button class="apple" hidden><a  href="https://itunes.apple.com/us/app/uber/id368677368">UBER APPLE</a></button>
<button id="clickable2" class="android apple" hidden><a href="lyft://app">LYFT</a></button>
<button class="android" hidden><a href="https://play.google.com/store/apps/details?id=me.lyft.android&hl=en">LYFT ANDROID
</a></button>
<button class="apple" hidden><a  href="https://itunes.apple.com/us/app/lyft-taxi-bus-app-alternative/id529379082?mt=8">LYFT APPLE
</a></button>

<script>

$(document).ready(function(){
var from, to, directionsDisplay, directionsService
function initMap(){
  directionsService = new google.maps.DirectionsService();
  from = new google.maps.LatLng(<%=@location["dlat"]%>, <%=@location["dlon"]%>);
  to = new google.maps.LatLng(<%=@location["slat"]%>, <%=@location["slon"]%>);
  directionsDisplay = new google.maps.DirectionsRenderer();
  var mapOptions = {
    zoom:18,
    center: from
  }
  map = new google.maps.Map(document.getElementById("map"), mapOptions);
  directionsDisplay.setMap(map);
  calcRoute()
}

function calcRoute() {
  var request = {
    origin:from,
    destination:to,
    travelMode: google.maps.TravelMode.DRIVING
  };
  directionsService.route(request, function(result, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(result);
    }
  });
}
	var originalLyftprice = $("#Lyft").html();
	var originalLyftprice_p = $("#LyftPlus").html();

	$("#plus").click(function(){
		var val = parseFloat($("#surge").val());
		var lyftPrice = originalLyftprice.replace("$", "").split("-");
		var lyftPrice_p = originalLyftprice_p.replace("$", "").split("-");

		if(val <= 20.0){
			val += 0.25;
			$("#surge").val(val);

			lyftPrice[0] =  "$"+Math.floor((parseFloat(lyftPrice[0]) * val)).toString()
			lyftPrice[1] =   "-"+Math.floor((parseFloat(lyftPrice[1]) * val)).toString()
			lyftPrice_p[0] =  "$"+Math.floor((parseFloat(lyftPrice_p[0]) * val)).toString()
			lyftPrice_p[1] =   "-"+Math.floor((parseFloat(lyftPrice_p[1]) * val)).toString()
			lyftPrice = lyftPrice.join().replace(",","")
			lyftPrice_p = lyftPrice_p.join().replace(",","")
			$("#Lyft").html(lyftPrice)
			$("#LyftPlus").html(lyftPrice_p)
		} else {}
	});

	$("#minus").click(function(){
		var val = parseFloat($("#surge").val());
		var lyftPrice = originalLyftprice.replace("$", "").split("-");
		var lyftPrice_p = originalLyftprice_p.replace("$", "").split("-");

		if(val >= 1.0){
			val == 1.0 ? val = 1 : val -= 0.25;
			$("#surge").val(val);

			lyftPrice[0] =  "$"+Math.floor((parseFloat(lyftPrice[0]) * val)).toString()
			lyftPrice[1] =   "-"+Math.floor((parseFloat(lyftPrice[1]) * val)).toString()
			lyftPrice_p[0] =  "$"+Math.floor((parseFloat(lyftPrice_p[0]) * val)).toString()
			lyftPrice_p[1] =   "-"+Math.floor((parseFloat(lyftPrice_p[1]) * val)).toString()
			lyftPrice = lyftPrice.join().replace(",","")
			lyftPrice_p = lyftPrice_p.join().replace(",","")
			$("#Lyft").html(lyftPrice)
			$("#LyftPlus").html(lyftPrice_p)

		} else {}
		
	});
//false = apple
//true  = android
var phone = null;

if(navigator.userAgent.match(/iPhone/i)){
 	$(".apple").show();
 	phone = false;
}

if(navigator.userAgent.match(/Android/i)){
 	$(".android").show();
 	phone = true;
}

var clicks1 = 1;
$("#clickable1").click(function(){
	clicks1+=1;
	if(clicks1 > 2)
	{ 
	 if(phone){
	   window.open("https://play.google.com/store/apps/details?id=com.ubercab&hl=en");
	 } else {
	   window.open("https://itunes.apple.com/us/app/uber/id368677368");
	 }
	}
});
var clicks2 = 1;
$("#clickable2").click(function(){
	clicks2+=1;
	if(clicks2 > 2)
	{ 
	 if(phone){
	   window.open("https://play.google.com/store/apps/details?id=me.lyft.android&hl=en");
	 } else {
	   window.open("https://itunes.apple.com/us/app/lyft-taxi-bus-app-alternative/id529379082?mt=8");
	 }
	}
});

});


</script>
