<div id="navigation">
	<div id="user">
		<% if @current_user %>
			<a href="/signout"><li data-menuanchor="about" class="btn btn-lg btn-default">Sign Out</li></a>
		<% else %>
			<a href="/users/new"><li data-menuanchor="search" class="btn btn-lg btn-default">Sign Up</li></a>
			<a href="/signin"><li data-menuanchor="data" class="btn btn-lg btn-default">Sign In</li></a>
		<% end %>
	</div>
</div>

<div id="fullpage-two">
	<div class="section section-5">
		<% @ride_data[4]%>
		<p class="title">Quotes</p>
		<div id="fromAddress">
			FROM <span class="address"><%=@ride_data[2]["results"][0]["formatted_address"]%></span>
			<% if @current_user %>
	  		<button id="saveFrom">Save to address</button>
			<%end%>
		</div>
		<div id="toAddress">
			TO <span class="address"><%=@ride_data[1]["results"][0]["formatted_address"]%></span>
			<% if @current_user %>
	  		<button id="saveTo">Save from address</button>
			<%end%>
		</div>

		<%= form_tag results_path :method => :get do %>
			<%= text_field_tag :from, @from%>
			<%= text_field_tag :to, @to%>

			<%= hidden_field_tag :loc%>
			<%= hidden_field_tag :slat%>
			<%= hidden_field_tag :slon%>
			
			<%= submit_tag "Search Again", id: "sub"%>
		<%end%>

		<div class="row">
			<ul>
				<% for i in 0..2 %>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<!-- 					<div class="well"> -->
						<% if @ride_data[0][i] != nil %>
							<li id="<%= @ride_data[0][i].display_name.tr(" ", "") %>"><%= @ride_data[0][i].estimate %></li>
							<% if @ride_data[0][i].surge_multiplier != nil && @ride_data[0][i].surge_multiplier > 1 %>
				    		SURGE 
				    	<%end%>
							<li><%=@ride_data[0][i].display_name%></li>
						<%end%>
<!-- 					</div> -->
				</div>
				<%end%>
			</ul>
		</div>
		<div class="row">
		<ul>
			<% for i in 3..4 %>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<!-- 				<div class="well"> -->
					<% if @ride_data[0][i] != nil %>
						<li id="<%=@ride_data[0][i].display_name.tr(" ", "")%>"><%=@ride_data[0][i].estimate%> </li>
						<li><%=@ride_data[0][i].display_name%></li>
					<%end%>
<!-- 				</div> -->
			</div>
			<%end%>
		</ul>
		</div>

		<button id="minus">-</button>
		<input id="surge" type="number" min="1" max="20" step=".25" value="1"></input>
		<button id="plus">+</button>
	
	<div id="map">
	</div>

	</div>

<button id="clickable1" class="android apple" hidden><a href="<%=@uberString%>">UBER</a></button>
<button class="android" hidden><a href="https://play.google.com/store/apps/details?id=com.ubercab&hl=en">UBER ANDROID
</a></button>
<button class="apple" hidden><a  href="https://itunes.apple.com/us/app/uber/id368677368">UBER APPLE</a></button>
<button id="clickable2" class="android apple" hidden><a href="lyft://app">LYFT</a></button>
<button class="android" hidden><a href="https://play.google.com/store/apps/details?id=me.lyft.android&hl=en">LYFT ANDROID
</a></button>
<button class="apple" hidden><a  href="https://itunes.apple.com/us/app/lyft-taxi-bus-app-alternative/id529379082?mt=8">LYFT APPLE
</a></button>
</div>

<script type="text/javascript" src="/fullpage-results.js"></script>

<script>
var from, to, directionsDisplay, directionsService
function initMap(){
  directionsService = new google.maps.DirectionsService();
  from = new google.maps.LatLng(<%=@location["dlat"]%>, <%=@location["dlon"]%>);
  to = new google.maps.LatLng(<%=@location["slat"]%>, <%=@location["slon"]%>);
  directionsDisplay = new google.maps.DirectionsRenderer();
  var mapOptions = {
    zoom:18,
    center: from
  }
  map = new google.maps.Map(document.getElementById("map"), mapOptions);
  directionsDisplay.setMap(map);
  calcRoute()
}

function calcRoute() {
  var request = {
    origin:from,
    destination:to,
    travelMode: google.maps.TravelMode.DRIVING
  };
  directionsService.route(request, function(result, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(result);
    }
  });
}

$(document).ready(function(){
initMap()

	var originalLyftprice = $("#Lyft").html();
	var originalLyftprice_p = $("#LyftPlus").html();

	$("#plus").click(function(){
		var val = parseFloat($("#surge").val());
		var lyftPrice = originalLyftprice.replace("$", "").split("-");
		var lyftPrice_p = originalLyftprice_p.replace("$", "").split("-");

		if(val <= 20.0){
			val += 0.25;
			$("#surge").val(val);

			lyftPrice[0] =  "$"+Math.floor((parseFloat(lyftPrice[0]) * val)).toString()
			lyftPrice[1] =   "-"+Math.floor((parseFloat(lyftPrice[1]) * val)).toString()
			lyftPrice_p[0] =  "$"+Math.floor((parseFloat(lyftPrice_p[0]) * val)).toString()
			lyftPrice_p[1] =   "-"+Math.floor((parseFloat(lyftPrice_p[1]) * val)).toString()
			lyftPrice = lyftPrice.join().replace(",","")
			lyftPrice_p = lyftPrice_p.join().replace(",","")
			$("#Lyft").html(lyftPrice)
			$("#LyftPlus").html(lyftPrice_p)
		} else {}
	});

	$("#minus").click(function(){
		var val = parseFloat($("#surge").val());
		var lyftPrice = originalLyftprice.replace("$", "").split("-");
		var lyftPrice_p = originalLyftprice_p.replace("$", "").split("-");

		if(val >= 1.0){
			val == 1.0 ? val = 1 : val -= 0.25;
			$("#surge").val(val);

			lyftPrice[0] =  "$"+Math.floor((parseFloat(lyftPrice[0]) * val)).toString()
			lyftPrice[1] =   "-"+Math.floor((parseFloat(lyftPrice[1]) * val)).toString()
			lyftPrice_p[0] =  "$"+Math.floor((parseFloat(lyftPrice_p[0]) * val)).toString()
			lyftPrice_p[1] =   "-"+Math.floor((parseFloat(lyftPrice_p[1]) * val)).toString()
			lyftPrice = lyftPrice.join().replace(",","")
			lyftPrice_p = lyftPrice_p.join().replace(",","")
			$("#Lyft").html(lyftPrice)
			$("#LyftPlus").html(lyftPrice_p)

		} else {}
		
	});
//false = apple
//true  = android
var phone = null;

if(navigator.userAgent.match(/iPhone/i)){
 	$(".apple").show();
 	phone = false;
}

if(navigator.userAgent.match(/Android/i)){
 	$(".android").show();
 	phone = true;
}

var clicks1 = 1;
$("#clickable1").click(function(){
	clicks1+=1;
	if(clicks1 > 2)
	{ 
	 if(phone){
	   window.open("https://play.google.com/store/apps/details?id=com.ubercab&hl=en");
	 } else {
	   window.open("https://itunes.apple.com/us/app/uber/id368677368");
	 }
	}
});
var clicks2 = 1;
$("#clickable2").click(function(){
	clicks2+=1;
	if(clicks2 > 2)
	{ 
	 if(phone){
	   window.open("https://play.google.com/store/apps/details?id=me.lyft.android&hl=en");
	 } else {
	   window.open("https://itunes.apple.com/us/app/lyft-taxi-bus-app-alternative/id529379082?mt=8");
	 }
	}
});

});


</script>
