<div id="navigation">
	<%= render "partials/nav" %>
	<%= render "partials/profile" %>
</div>

<div id="fullpage-two">
	<div class="section section-5">
		<% @ride_data[4] %>
		<%= render "partials/flash" %>
		<p class="title">Quotes</p>
		<div id="fromAddress">
			<% if @current_user %>
	  		<button id="saveFrom" class="btn btn-default">Save</button>
	  	<% else %>
	  		From:
			<% end %>
			<span class="address"><%=@ride_data[2]["results"][0]["formatted_address"]%></span>
		</div>
		<div id="toAddress">
			<% if @current_user %>
	  		<button id="saveTo" class="btn btn-default">Save</button>
	  	<% else %>
	  		To:
			<%end%>
			<span class="address"><%=@ride_data[1]["results"][0]["formatted_address"]%></span>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
				<div class="row">
					<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<div class="well uber">
							<% if @ride_data[0][0] != nil %>
								<li id="<%= @ride_data[0][0].display_name.tr(" ", "") %>"><%= @ride_data[0][0].estimate %></li>
								<% if @ride_data[0][0].surge_multiplier != nil && @ride_data[0][0].surge_multiplier > 1 %>
						    	<%= @ride_data[0][0].surge_multiplier %>x Surge 
						    <%end%>
								<li>UberX</li>
							<% end %>				
						</div>
					</div>
					<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
						<div class="well lyft">
							<% if @ride_data[0][3] != nil %>
								<li id="<%=@ride_data[0][3].display_name.tr(" ", "")%>"><%=@ride_data[0][3].estimate%> </li>
								<li>Lyft</li>
							<%end%>
						</div>
					</div>
				</div>
				<div class="row">		
					<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<div class="well uber">
							<% if @ride_data[0][1] != nil %>
								<li id="<%= @ride_data[0][1].display_name.tr(" ", "") %>"><%= @ride_data[0][1].estimate %></li>
								<% if @ride_data[0][1].surge_multiplier != nil && @ride_data[0][1].surge_multiplier > 1 %>
						    	<%= @ride_data[0][0].surge_multiplier %>x Surge 
						    <%end%>
								<li>Uber Black</li>
							<% end %>
						</div>
					</div>
					<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
						<div class="well lyft">
							<% if @ride_data[0][4] != nil %>
								<li id="<%=@ride_data[0][4].display_name.tr(" ", "")%>"><%=@ride_data[0][4].estimate%> </li>
								<li>Lyft Plus</li>
							<%end%>
						</div>
					</div>			
				</div>
				<div class="row">
					<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<div class="well uber">
							<% if @ride_data[0][2] != nil %>
								<li id="<%= @ride_data[0][1].display_name.tr(" ", "") %>"><%= @ride_data[0][2].estimate %></li>
								<% if @ride_data[0][2].surge_multiplier != nil && @ride_data[0][2].surge_multiplier > 1 %>
						    	<%= @ride_data[0][0].surge_multiplier %>x Surge  
						    <%end%>
								<li>Uber SUV</li>
							<% end %>
						</div>
					</div>
					<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
						<p class="prime-time">Is it Prime Time?</p>
						<button id="minus" class="btn btn-default">-</button>
						<input id="surge" class="input-lg" type="number" min="1" max="20" step=".25" value="1"></input>
						<button id="plus"class="btn btn-default">+</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<p class="promo">Uber Promo Code: <%= @codes["ubercode"] %></p>
						<button id="clickable1" class="btn btn-default android apple" hidden><a href="<%=@uberString%>">Request UBER</a></button>
					</div>
					<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
						<p class="promo">Lyft Promo Code: <%= @codes["lyftcode"] %></p>
						<button id="clickable2" class="btn btn-default android apple" hidden><a href="lyft://app">Request LYFT</a></button>
					</div>
				</div>

			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 map-holder">
				<div id="map"></div>
			</div>
		</div>

</div>
<script type="text/javascript" src="/fullpage-results.js"></script>

<script>
	var from, to, directionsDisplay, directionsService
	function initMap() {
		setTimeout(function() {
		  from = new google.maps.LatLng(<%=@location["dlat"]%>, <%=@location["dlon"]%>);
		  to = new google.maps.LatLng(<%=@location["slat"]%>, <%=@location["slon"]%>);
		  directionsService = new google.maps.DirectionsService();
		  directionsDisplay = new google.maps.DirectionsRenderer();
		  var mapOptions = {
		    zoom:18,
		    center: from
		  }
		  map = new google.maps.Map(document.getElementById("map"), mapOptions);
		  directionsDisplay.setMap(map);
		  setTimeout(function() {
		  	calcRoute();
		  }, 50);
		}, 50);
	}


	function calcRoute() {
	  var request = {
	    origin:from,
	    destination:to,
	    travelMode: google.maps.TravelMode.DRIVING
	  };

	  directionsService.route(request, function(result, status) {
	    if (status == google.maps.DirectionsStatus.OK) {
	      directionsDisplay.setDirections(result);
	    }
	  });
	}
</script>
<script src="/results.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_OcPqd4-0Dsx7LK_3wHvVzvKcJRWSwjQ&libraries=places&callback=initMap"></script>