<div id="navigation">
	<%= render 'partials/nav' %>
	<div id="user">
		<% if @current_user %>
			<a href="/signout"><li class="btn btn-lg btn-default">Sign Out</li></a>
		<% else %>
			<a href="/users/new"><li class="btn btn-lg btn-default">Sign Up</li></a>
		<% end %>
	</div>
</div>

<div id="fullpage-three">
	<div class="section section-8">
		<%= render 'partials/flash' %>
		<p class="title">Sign In</p>
		<div class="row">
			<div class="col-xs-10 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
				<%= bootstrap_form_for :user do |user| %>
					<%= user.text_field :email, :label => 'Email address', :placeholder => 'Email', class: "form-control input-lg" %>
					<%= user.password_field :password, :label => 'Password', :placeholder => 'Password', class: "form-control input-lg" %>

					<%= user.submit 'Sign In', class: "btn btn-lg btn-default" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/fullpage-signin.js"></script>