<h1>Profile Page</h1>
<div>
<%= form_for :user do |user| %>
  <div>
  <%= user.label :firstname %>
  <%= user.text_field :firstname, :value => @current_user['firstname'] %>
  </div>
  <div>
  <%= user.label :lastname %>
  <%= user.text_field :lastname, :value => @current_user['lastname'] %>
  </div>
  <div>
  <%= user.label :email %>
  <%= user.text_field :email, :value => @current_user['email'] %>
  </div>
<% end %>
</div>
<div>
<% @current_user.address.each do |address| %>
<div>
<span class="removeAddress glyphicon glyphicon-remove-circle"></span><span class="address"><%= address.address %></span>
</div>
<% end %>
</div>